# Dati grezzi e dump grandi
*.pgn.zst
*.pgn
*.zst

# File temporanei / ambienti
__pycache__/
*.pyc
*.pyo
.env
venv/
.env/
.idea/
.vscode/
all_positions_jul2014
all_positions_jul2014_csv
all_positions_jul2014_npz

# File di sistema
.DS_Store
Thumbs.db